<html>
    <head>
        <title>Technician Access</title>
    </head>
    <body>
        <h1>Technician Access</h1>

        <form method="POST" action= "/tech">
            <label for="ticket_id">Ticket_ID:</label><br>
            <input type="text" name="ticket_id"><br>
            <label for="status">Status:</label><br>
            <input type="text" name="status"><br>
            <input type="submit" value="Submit">
        </form>

        <h2>All tickets and their current status, in order</h2>
        {% for fix in fixes %}
            <p>{{fix.ticket_id}}, {{fix.status}}</p>

            <form method="POST" action="/updatetech">
                <input type="hidden" value="{{fix.status}}" name="oldstatus">
                <input type="text" value="{{fix.status}}" name="newstatus">
                <input type="submit" value="Update status">
            </form>

            <form method="POST" action="/deletetech">
                <input type="hidden" value="{{fix.status}}" name="status">
                <input type="hidden" value="{{fix.ticket_id}}" name="ticket_id">
                <input type="submit" value="Delete">
              </form>

        {% endfor %}
        <br>
        <br>
        <br>
        <a href='/'>Click here to return to the homepage.</a>
    </body>
</html>